/*
 * @(#)CssSample.css
 * Copyright © 2021 The authors and contributors of JHotDraw. MIT License.
 */

/**
 * This CSS is used by class {@code CssSample} to style the drawing.
 */

* {
  stroke-width: 2;
}

#vertex1 {
  fill: red;
}

#vertex2 {
  fill: green;
}

#vertex3 {
  stroke-width: 0.0;
  fill: blue;
  font: 24.0 "Andale Mono";
  rotate: 20;
}

#vertex4 {
  fill: yellow;
}