/* @(#)user-agent.css
 * Copyright © The authors and contributors of JHotDraw. MIT License.
 *
 * User-Agent stylesheet for SysML and UML diagrams.
 */
MLDiagram {
  kind-font: 12 Arial Bold;
  name-font: 12 Arial;
  padding: 4 14 4 6;
  shape: "M0,0 20,0 20,10 10,20 0,20Z";
  shape-slice: 0 10 10 0;
}
MLClassifier {
  keyword-label-visible: true;
  compartment-labels-visible: true;
  compartment-label-font: 9 Arial;
  keyword-label-font: 9 Arial;
  name-font: 12 Arial Bold;
  font: 12 Arial;
  padding: 4;
  line-spacing: 4;
  item-label-font: 12 Arial;
  static-item-font: 12 Arial;
  abstract-item-font: 12 Arial Italic;
  static-item-underline: true;
}
/** Block shows compartment labels, because there are so many possible compartments. */
MLClassifier[keyword="block"] {
}
/** Class does not show compartment labels, because there are two compartments: attributes and operations. */
MLClassifier[keyword="class"] {
  compartment-labels-visible: false;
  keyword-label-visible: false;
}
/** Class does not show compartment labels, because there are two compartments: attributes and operations. */
MLClassifier[keyword="interface"] {
  name-font: 12 Arial Bold Italic;
  compartment-labels-visible: false;
}
/** Requirement does not show compartment labels, because there is only one compartment: text. */
MLClassifier[keyword="requirement"] {
  compartment-labels-visible: false;
}

/** Dependency is shown as a dashed line with arrow head. */
MLEdge[keyword="dependency"] {
  stroke-dasharray: 5;
  marker-end-shape: "M-10,-5 0,0 -10,5 M-10,0 0,0";
  marker-fill: none;
}
/** Generalization is shown as a solid line with white triangle head. */
MLEdge[keyword="generalization"] {
  marker-end-shape: "M-10,-5 0,0 -10,5 Z";
  marker-fill: white;
}
/** Containment is shown as a solid line with crosshair head. */
MLEdge[keyword="containment"] {
  marker-end-shape: "M -12,0 A 6,6 0 0 0 0,0 A 6,6 0 0 0 -12,0 M -6,-6 -6,6 M -12,0 0,0";
  marker-fill: white;
}
/** Aggregation is shown as a solid line with white diamond tail. */
MLEdge[keyword="aggregation"] {
  marker-end-shape: "M -12,0 -6,-12 0,0 -6,12 -12,0 0,0";
  marker-fill: white;
}
/** Compositon is shown as a solid line with black diamond tail. */
MLEdge[keyword="composition"] {
  marker-end-shape: "M -12,0 -6,-12 0,0 -6,12 -12,0 0,0";
   marker-fill: black;
}