/* @(#)user-agent.css
 * Copyright © The authors and contributors of JHotDraw. MIT License.
 *
 * User-Agent stylesheet for SysML and UML diagrams.
 */
MLDiagram {
  kind-font: 12 Arial Bold;
  name-font: 12 Arial;
  padding: 4 14 4 6;
  shape: "M0,0 20,0 20,10 10,20 0,20Z";
  shape-slice: 0 10 10 0;
}
MLClassifier {
  keyword-visible: true;
  compartment-labels-visible: true;
  label-font: 9 Arial;
  name-font: 12 Arial Bold;
  font: 12 Arial;
  padding: 4;
}
MLClassifier[keyword="block"] {
}
MLClassifier[keyword="class"] {
  keyword-visible: false;
  compartment-labels-visible: false;
}
MLClassifier[keyword="requirement"] {
  compartment-labels-visible: false;
}
MLEdge {
}
MLEdge[keyword="dependency"] {
  stroke-dasharray: 5;
  marker-end-shape: "M-10,-5 0,0 -10,5 M-10,0 0,0";
  marker-fill: none;
}
MLEdge[keyword="generalization"] {
  marker-end-shape: "M-10,-5 0,0 -10,5 Z";
  marker-fill: white;
}
MLEdge[keyword="containment"] {
  marker-end-shape: "M -12,0 A 6,6 0 0 0 0,0 A 6,6 0 0 0 -12,0 M -6,-6 -6,6 M -12,0 0,0";
  marker-fill: white;
}
