/jhotdraw8/nbproject/private/
/jhotdraw8/build/
/jhotdraw8/dist/
/jhotdraw8/ext/
/jhotdraw8/logs/
/jhotdraw8/lib/
/jhotdraw8/out/
/jhotdraw6/nbproject/private/
/jhotdraw7/build/
/jhotdraw7/dist/
/jhotdraw7m/nbproject/private/
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/EditorConfigSchemaMap.xml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/handle/PIOPathHandle.java
/jhotdraw8/ext2/src/editorold/module-info.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/gui/SelectionToolbar.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/DumpModelAction.java
/jhotdraw8/ext2/lib/org.apache.ant-ant-1.9.6-ant.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/Ellipse2DConverter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/gui/ZoomToolbar.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ShowTableInspectorAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/PartiallyStyleableFigure.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/layouter/LayouterOriginal.java
/jhotdraw8/ext2/lib/ch.systransis-STI-LIB-TESTTOOL-rev9506-STI-LIB-TESTTOOL.jar
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorConfigBase.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorFlags.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Border.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/XMLElement_Unknown.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/PIOTypeManagerReader.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIO.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_EditorDisplay.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_EditorPIO.java
/jhotdraw8/ext2/lib/commons-codec-commons-codec-1.2-commons-codec.jar
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/EditorConfigSchemaMap.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorLayer.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/ConfigReader.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorPIOAttr.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/Formats.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/AddMileageAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/layer/LayerProvider.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/gui/SelectionToolbar.fxml
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Value.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIOPathSet.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/EditorInspectorControlsFactory.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/EditorOutputFormat.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/print/PrintDialog.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/AutoLayoutOriginalAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/changelog/ChangeLog.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/Labels_de.properties
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/ListControlsFactory.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ExtendLineAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/EditorMain.java
/jhotdraw8/ext2/lib/ch.systransis-STI-LIB-ZIP-rev9506-STI-LIB-ZIP.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Anchor.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/RootNode.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Fill.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/ManifestWriter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIOAttr.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/LayoutException.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/gui/ZoomToolbar.fxml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/Labels.properties
/jhotdraw8/ext2/lib/com.prosysopc-OPC-UA-Java-SDK-Client-Server-Binary-1.4.6-8021-OPC-UA-Java-SDK-Client-Server-Binary.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Twins.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Rotation.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Shape.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/SaveDrawingAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/CoreDocumentImpl.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/PIOShapeFigureOLD.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/DrawingReader.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/EditorNodeFigure.java
/jhotdraw8/ext2/lib/junit4.12/junit-4.12-sources.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditor.css
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorLayerSet.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/FigureSpecificConstrainer.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditorApplication.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/handle/PIOShapeOutlineHandle.java
/jhotdraw8/ext2/lib/ch.systransis-STI-LIB-APPL-rev9506-STI-LIB-APPL.jar
/jhotdraw8/ext2/lib/com.intellij-forms_rt-from-IDEA-14.1.5-forms_rt.jar
/jhotdraw8/ext2/lib/hamcrest-core-1.3/source/hamcrest-core.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/PiInspector.java
/jhotdraw8/ext2/lib/annotations-12.0.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/print/EditorPrinter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/Datastructure.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_SSP.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_VertexSize.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_EditorPIOs.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIOLocation.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_SpeedLimitArea.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorLayers.java
/jhotdraw8/ext2/lib/ch.systransis-STI-LIB-UTIL-rev9506-STI-LIB-UTIL.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/TAGConfigReader.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/print/PrintPreviewLayer.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_Arrow.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_editor.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/AddPIOAction.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Position.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/InvalidPathException.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/PIOAttr.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/VertexConverter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/gui/FilterComboBox.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Mileages.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PathAttr.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Stroke.java
/jhotdraw8/ext2/lib/hamcrest-core-1.3/ivy/ivy.xml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/DrawingGenerator.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/PI.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/LoggerUtil.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/ShapeSizeUtil.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_VertexFill.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Display.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_EditorLayer.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Arrow.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/connector/VertexConnector.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/path/LocationPath.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorPIO.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/PIException.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ExportImageAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/SegmentNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_TrainCategory.java
/jhotdraw8/ext2/lib/org.bouncycastle-bcprov-jdk16-1.46-bcprov-jdk16.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditorApplicationModel.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Topology.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/path/Location.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_EditorLayers.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIOPath.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/layer/LayerManager.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/SegmentFigure.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/CheckValidAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditorMenuBar.fxml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/layer/LayerSet.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIOs.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tableinspector/TableInspector.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/ComboControlsFactory.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_LayouterDistances.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/EditorDrawingView.css
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorDisplay.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/WaypointNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tool/ExportImageAreaTracker.java
/jhotdraw8/ext2/lib/org.jetbrains-annotations-13.0-annotations.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_ProcessImageConfig.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_Text.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_SizeRelative.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/EditorNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_States.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/ObjectBaseNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Segment.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/AnchorNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/MileageNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/ManifestReader.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/URIUtil.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/layouter/Layouter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/IntControlsFactory.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Filename.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/NewFXMain.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/PIOType.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/StringControlsFactory.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tool/ExportImageTool.java
/jhotdraw8/ext2/lib/junit4.12/junit-4.12.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_EditorLayerSet.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/InvalidPIOTypeException.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ResetPositionAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/ObjectState.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/GeomUtil.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/ObjectStateValue.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_VertexTextOffset.java
/jhotdraw8/ext2/lib/org.opcfoundation-Opc.Ua.Stack-1.01.330.12-Opc.Ua.Stack.jar
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_StateValue.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Comment.java
/jhotdraw8/ext2/lib/hamcrest-core-1.3/class/hamcrest-core.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Waypoint.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/PIOTypeManager.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/PIOPathNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditorProject.css
/jhotdraw8/ext2/lib/log4j-log4j-1.2.16-log4j.jar
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Text.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_AxleLoad.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Alias.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorPIOs.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/TAGInputFormat.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/NoPIOTypeException.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ExtendLineMinimalAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/log4j.properties
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_V.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/PIONodeConverter.java
/jhotdraw8/.idea/runConfigurations/OldArlEditor.xml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_StateValue.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/PIOShapeFigure.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/InspectorControlsFactory.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ShowHideErrorManagerAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditorController.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/PIConfigSchemaMap.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_EvacuationPath.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_EvacuationPaths.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/TwinsFigure.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/PrintJobConverter.java
/jhotdraw8/ext2/lib/junit4.12/junit-4.12.pom
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_StaticSpeedProfile.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_NoPath.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_State.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/ConfigWriter.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_ArrowPosition.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/inspector/BooleanControlsFactory.java
/jhotdraw8/ext2/lib/META-INF/MANIFEST.MF
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/InvalidLocationException.java
/jhotdraw8/ext2/lib/ch.systransis-STI-ARL-rev9524-STI-ARL.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/PrintDocumentAction.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorFill.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/figure/PIOTextFigure.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_Mileage.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/errormanager/ErrorManagerGUI.java
/jhotdraw8/ext2/lib/poi-poi-2.5.1-final-20040804-poi.jar
/jhotdraw8/ext2/lib/org.apache.ant-ant-launcher-1.9.6-ant-launcher.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_State.java
/jhotdraw8/ext2/lib/junit4.12/junit-4.12-javadoc.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/TAGPIReader.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/ConnectorConverter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/iopi/XMLElement_PIConfigBase.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tool/ChangeFlagTool.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/EditorDrawing.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tool/SwapTool.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditor.fxml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/AdmiRailEditorProject.fxml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/print/ImageExporter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/DrawingValidator.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Size.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tableinspector/tableinspector.fxml
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_State.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/BooleanConverter.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_Font.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/RemoveSelectionAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/AxleLoad.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/errormanager/ErrorManager.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/tool/SelectionToolGUIOnly.java
/jhotdraw8/ext2/lib/org.apache.log4j-log4j-1.2.16-log4j.jar
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/ShowChangeLogAction.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/guiconnection/ConnectionManager.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/PIONode.java
/jhotdraw8/ext2/ext2.iml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/PathNotUniqueException.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/TrainCategory.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorLayerSetNotDefault.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/exception/PIObjectNotFoundException.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_TextSize.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_States.java
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_ShapeFlag.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/layer/LayerManagerGUI.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/PathUtil.java
/jhotdraw8/.idea/libraries/ext2.xml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_editor.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/model/nodeimpl/VertexNode.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/PathShapeUtil.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/JavaFxTest.java
/jhotdraw8/.idea/runConfigurations/Ferro.xml
/jhotdraw8/ext2/src/gen/java/ch/systransis/arl/editor/io/XMLElement_EditorPIOLayer.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/util/DOMUtil.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/EditorFigureFactory.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/EditorDrawingView.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/changelog/changelog.fxml
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/converter/BoundsConverter.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/editor_manifest.xsd
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/io/Command_Shape.java
/jhotdraw8/ext2/src/editorold/ch/systransis/arl/editor/action/AutoLayoutAction.java
/jhotdraw8/ext2/