/*
 * @(#)fontchooser.css
 * Copyright © 2021 The authors and contributors of JHotDraw. MIT License.
 */

/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.fontPreview {
    -fx-background-color: white;
}
.fontNameLabel{
    -fx-background-color: white;
}
.placardButton {
    -fx-border-color: none;
    -fx-padding: 0 4;
}