.root {
    /* The base color for objects.
     * This is the background color of an about box on macOS.
     */
    -fx-base: #343941;

   /* Color for highlighting/accenting objects.
     * This is the selection color of TextEdit on macOS.
   */
    -fx-accent: #3f628a;

    /* Used for the inside of text boxes, password boxes, lists, trees, and
     * tables.  See also -fx-text-inner-color, which should be used as the
     * -fx-text-fill value for text painted on top of backgrounds colored
     * with -fx-control-inner-background.
     *
     * This is the background color of text field TextEdit on macOS.
     */
    -fx-control-inner-background: #1e1e1e;

    /* One of these colors will be chosen based upon a ladder calculation
     * that uses the brightness of a background color.  Instead of using these
     * colors directly as -fx-text-fill values, the sections in this file should
     * use a derived color to match the background in use.  See also:
     *
     * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
     * -fx-text-background-color for text on top of -fx-background
     * -fx-text-inner-color for text on top of -fx-control-inner-color
     * -fx-selection-bar-text for text on top of -fx-selection-bar
     */
    -fx-dark-text-color: black;
    -fx-mid-text-color: #333;
    -fx-light-text-color: #e1e2e3;

}

