/* @(#)user-agent.css
 *
 * User-Agent stylesheet for grapher drawings.
 */

Drawing {
    background: white;
}
Label {
    text-fill: black;
}
TextArea {
    fill: none;
    text-fill: black;
    stroke: none;
}
Rectangle,
Ellipse,
Polygon,
Bezier {
    fill: white;
    stroke: black;
}
Line,
Polyline,
LineConnectionWithMarkers {
    stroke: black;
}